<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vuejs Todo</title>
	</head>
	<body>
		
		<div id="app">
			<h2>Todos</h2>
			<ul v-if="showTodos">
				<li v-for="todo in todos">
					<todo-component v-bind:todo="todo"></todo-component><button type="button" v-on:click="removeTodo($index)">x</button>
				</li>
			</ul>
			<p v-else>
				No Todos for you to day.
			</p>
			<p>
				Showing Todos or not: {{ showTodos }}
				<input type="checkbox" v-model="showTodos">
			</p>
			<p>
				<input type="text" v-model="todoText" v-on:keyup.esc="clearTodos" v-on:keyup.enter="createTodos">
			</p>
			<p>
					count = {{count}}
					<button type="button" v-on:click="increaseCount"> increase </button>
			</p>
		</div>

		<script src="js/vue.js" charset="utf-8"></script>
		<script src="js/main.js" charset="utf-8"></script>
	</body>
</html>